@font-face {
    font-family:'codePredator';
    src: url('../fonts/CodePredators-Regular.ttf');
    font-weight:bold;
    
}
h1 {
    font-family:'codePredator';
}

* {
    background-color:#EDEDED;
    margin:0 auto;
}
h3, p {
    background-color:transparent;
}

/* menu bar */

.top-bar {
    width:100%;
    height:50px;
}
.top-bar img {
    width:20px;
    position: relative;
    top:28px;
    left:15px;
}
.top-bar h1 {
    position: relative;
    top:25px;
    left:15px;
    display:inline;
}
.top-bar ul {
    float:right;
    margin:25px 35px;
    z-index: 1;
}
.top-bar li {
    display:inline-block;
    padding-right:25px;
    color:#000;
    
}
hr {
    width:100%;
}

/* middle section main image */

.middle-section {
    text-align: center;
    
    
}
.middle-section-top h3 {
    margin:20px;
}
.middle-section-top h5 {
    margin-bottom:20px;
}
.middle-section span {
    color:deeppink;
    
}
.middle-section-top img {
    width:95%;
    height:300px;
    margin:5px;
    border-radius:15px;
    box-shadow:5px 5px 5px darkgrey;
}
.middle-section-info {
    width:400px;
    height:200px;
    display:inline-block;
    padding:5px;
    margin:55px;
    
}
.aboutme h3 {
    color:deeppink;
}
.mywork h3 {
    color:deeppink;
}

/* middle section small picture images */

.middle-section-lastbottom .images {
    width:200;
    height:270px;
    display:inline-block;
    margin:25px;
    background-color:#FFF;
    border-radius:5px;
    box-shadow:5px 5px 5px darkgrey;
}

.images img {
    width:200px;
    height:200px;
    border-radius:5px;

}
.middle-section-lastbottom h3 {
    
}
.middle-section-lastbottom p {
   
}
.middle-section-lastbottom h2 {
    color:deeppink;
    margin:25px;
}
/* foooter */
.footer {
    width:100%;
    height:200px;
    background-color:#2D2D2D;
    
}
.last-section {
    background-color:#2D2D2D;
    padding:25px 0 10px 25px;
}
.last-section h2 {
    display:inline-block;
    background-color:#2D2D2D;
    color:deeppink;
    margin-bottom:20px;
}
input, textarea {
    width:400px;
}
button {
    color:#fff;
    background-color:transparent;
}

/* icon images */
.footer-icon-image {
    display:inline-block;
    background-color:transparent;
    float:right;
    margin-right:30px;
    margin-top:-120px;
    
}
.footer-icon-image img {
    width:30px;
    background-color:transparent;
    margin:5px;
}

/* @media scree size width 500px*/

@media screen and (max-width:500px) {
    .middle-section-info {
        width:300px;
        margin:10px;
    }
    .images img  {
        width:140px;
        height:100px;
    }
    .middle-section-lastbottom .images {
        width:140px;
        height:165px;
    }
    
    input, textarea {
        width:200px;
    }
    .footer-icon-image img {
        width:20px;
    }
    .footer-icon-image {
        margin-top:-200px;
    }
}
